/*here you can edit the style of the page */
.margin {
    margin: 30px 10px 10px 10px;
    font-size: 70px;
    text-align: center;
}
.right {
    text-align: right;
}
.center {
    margin: 20px 10px 10px 10px;
    }    
#bajar {
    margin-top: 100px;
    margin-left: -50px;
    }
.center2 {
    text-align: center;
    }
#bajar2 {
    margin-top: 70px;
}